<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title color="light">Plataforma SISAV</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>

        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
            <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
            <ion-label>{{ c.name }}</ion-label>
        </ion-item>

    </ion-list>
    <ion-card mode="ios" color="primary">
        <ion-card-content>
            5458 PARTICIPANTES EN EL PROYECTO
        </ion-card-content>

    </ion-card>
    <ion-card mode="ios">
        <ion-card-content>
            <ion-img src="/assets/shapes.svg">5458 PARTICIPANTES EN EL PROYECTO</ion-img>

        </ion-card-content>

    </ion-card>

</ion-content>